@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    padding: 0;
    margin: 0;
    opacity: 0.3;
}

.background {
    background-image: url("background.jpeg");
    width: 100%;
    height: 100vh;
    background-position: center, left;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    background: transparent;
    text-align: center;
    padding: 20px 60px 20px 60px;
    margin-top: 50px;
    border-radius: 10px;
    z-index: 999;
    opacity: 0.91;
    box-shadow: 0 0 7px 0 #f1a6bc;
    backdrop-filter: blur(10px);
    border: 1px solid #FFF;
}

input {
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    background: none;
    border: 2px solid #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
    padding-bottom: 40px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
    font-size: 16px;
}

button {
    background: none;
    outline: none;
    background: #da2859;
    padding: 10px 40px;
    font-size: 17px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

button:hover {
    background: #f1a6bc;
}

@media(max-width: 600px) {
    .video {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        padding: 0;
        margin: 0;
        opacity: 0.3;
    }

    .background {
        background-image: url("background.jpeg");
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .login-form {
        width: 90%;
        padding: 10% 10% 0 10%;
        text-align: center;
        margin-top: 70px;
        border-radius: 10px;
    }
}